body {
    margin: 45px;
    font-size: 18px;
}

object.document {
    width:100vw;
    height:100vh;
}

footer {
    text-align: center;
}

footer > * {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}